body {
    background: #f8f8f8;
    color: black;
    text-align: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    padding: 7px;
    margin-bottom: 10px;
}

#upload-image::file-selector-button {	
	color: white;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 5px;
	padding: 5px 10px 5px 10px;	
	
}

#upload-image::file-selector-button:hover {
	background-color: #1034A6;
    border: 2px solid #1034A6;
}

#select-filters, #download-group {
    margin: auto;
    width: 300px;
}

#upload-image, #select-filters, #download-group {
    margin-bottom: 10px;
}

#download-group {
    margin-top: -6px;
}

#footer-images {
    margin: 4px;
}

small {
    display: block;
}

#footer-copyright {
    margin-bottom: 10px;
}