body {
    background: #f8f8f8;
    color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
    padding: 6px;
}

#upload-image::file-selector-button {
	/* TODO */
}

small {
    display: block;
}