body {
    background: #f8f8f8;
    color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
    padding: 6px;
}

#upload-image::file-selector-button {
	border: 2px solid blue;
	color: white;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	background-color: blue;
}

#upload-image::file-selector-button:hover {
	border: 2px solid #1034A6;
	background-color: #1034A6;
}

small {
    display: block;
}